# Remove all comments for .env
#
# Public ports for Internet or Load balance proxy
NGINX_PROD_PORT=8043
NGINX_DEV_PORT=9043

# Virtual Table Top name
VTT_NAME=FoundryVTT
DOMAIN=dndregio.tk

# Backups
TAR_EXCLUSIONS="{'*.jpg','*.jpeg','*.png','*.PNG','*.webp','*.eot','*.woff*','*.gif','*.webm','*.ogg','*.mp3','*.mp4','*.mpg'}"
